/*Navbar Styling*/
body {
   overflow-x: hidden;
   background-color: #121212;
}
.navbar {
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
   z-index: 2;
   position: fixed;

   /* background-color: red; */
}

.navbar .flex-container {
   width: 90%;
   height: inherit;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.navbar .flex-container .navbar-logo {
   font-family: "Airin";
   text-align: left;
   font: normal normal normal 40px/40px Airin;
   letter-spacing: 0px;
   opacity: 1;
}
.navbar .flex-container .navbar-logo a {
   text-decoration: none;

   color: #fefefe;
   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-logo a:hover {
   color: #80ffdb;
   text-shadow: 0px 0px 10px rgba(128, 255, 219, 0.5);

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li {
   text-align: right;
   padding: 5px 0;

   border-bottom: 2px solid #fefefe;
   width: 0%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li:hover {
   /* border-bottom: 2px solid #fefefe; */
   width: 100%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li a {
   text-decoration: none;
   color: #fefefe;

   text-align: right;
   font: normal normal normal 15px Poppins;
   letter-spacing: 0px;
   color: #fefefe;
   opacity: 1;
}

/* Navbar Styling ends */

/* Main stylig begins */
.index-banner {
   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: greenyellow;
}
.index-banner .statement {
   width: fit-content;
   height: fit-content;
   background-color: red;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.information {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.information .grid-container {
   width: 75%;
   height: 70vh;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 0px 0px;
   grid-template-areas:
      "skills skills tools tools"
      "education education education education";
}

.skills {
   grid-area: skills;
   text-align: center;
}

.tools {
   grid-area: tools;
   text-align: center;
}

.education {
   grid-area: education;
   text-align: left;
}

.limitless {
   width: 100vw;
   text-align: center;
}
/* Main styling ends */
/* Footer styling */
.footer {
   width: 100vw;
   height: 100vh;
   background-color: #222;

   z-index: 3;
}
.footer .flex-container {
   margin-top: 20vh;
   width: 100%;
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer .flex-container .footer-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-top: 20px;
}
.footer .flex-container .footer-links li {
   padding: 20px 0;
   text-align: left;
   font: normal normal normal 30px Poppins;
   letter-spacing: 0.6px;
   color: #fefefe;
   opacity: 1;
}
.footer .flex-container .footer-links li a {
   text-decoration: none;
   color: #fefefe;

   transition: 0.3s ease-in-out;
}
.footer .flex-container .footer-links li a:hover {
   color: #6930c3;
   transition: 0.3s ease-in-out;
}

.footer .flex-container .footer-social {
   display: flex;
   flex-direction: row;
   padding: 50px 0;
}
.footer-social li {
   font-size: 40px;
   padding: 0 30px;
}
.footer-social li a {
   padding-bottom: 10px;
   color: #fefefe;
   text-decoration: none;

   transition: 0.3s ease-in-out;
}
.footer-social li a:hover {
   padding-bottom: 20px;
   border-bottom: 4px solid #6930c3;
   color: #8c4fee;
   transition: 0.3s ease-in-out;
}
