/*Navbar Styling*/
body {
   overflow-x: hidden;
   background-color: #121212;
}
.navbar {
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
   z-index: 2;
   position: fixed;

   /* background-color: red; */
}

.navbar .flex-container {
   width: 90%;
   height: inherit;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.navbar .flex-container .navbar-logo {
   font-family: "Airin";
   text-align: left;
   font: normal normal normal 40px/40px Airin;
   letter-spacing: 0px;
   opacity: 1;
}
.navbar .flex-container .navbar-logo a {
   text-decoration: none;

   color: #fefefe;
   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-logo a:hover {
   color: #80ffdb;
   text-shadow: 0px 0px 10px rgba(128, 255, 219, 0.5);

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li {
   text-align: right;
   padding: 5px 0;

   border-bottom: 2px solid #fefefe;
   width: 0%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li:hover {
   /* border-bottom: 2px solid #fefefe; */
   width: 100%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li a {
   text-decoration: none;
   color: #fefefe;

   text-align: right;
   font: normal normal normal 15px Poppins;
   letter-spacing: 0px;
   color: #fefefe;
   opacity: 1;
}

/* Navbar Styling ends */

/* Main stylig begins */
.index-banner {
   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #121212;

   background-image: url("../images/glitched-skull.jpg");
   background-size: contain;
   background-repeat: no-repeat;

   background-position: center;
   background-blend-mode: screen;

   /* opacity: 0.5; */

   /* background-attachment: fixed; */
   /* filter: opacity(30%); */
}
.index-banner .statement {
   width: 100vw;
   height: 100vh;

   /* background-color: red; */
   backdrop-filter: brightness(30%);
   /* backdrop-filter: contrast(95%); */
   opacity: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.index-banner .statement h1 {
   text-align: center;
   font: normal normal normal 70px/70px Airin;
   letter-spacing: 0px;
   color: #fefefe;
   opacity: 1;
}
.index-banner .statement h4 {
   text-align: left;
   font: normal normal normal 20px/30px Poppins;
   letter-spacing: 1.5px;
   color: #fefefe;
   opacity: 1;
}

.information {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.information .grid-container {
   margin: 10% 0;
   width: 75%;
   height: fit-content;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 0px 0px;
   grid-template-areas:
      "skills skills tools tools"
      "education education education education";
}

.skills {
   grid-area: skills;
   text-align: center;
}
.skills h1 {
   text-align: center;
   font: normal normal 500 40px/50px Poppins;
   letter-spacing: 2.5px;
   color: #fefefe;
   padding-bottom: 20px;
}
.skills h2 {
   text-align: center;
   font: normal normal normal 20px/50px Poppins;
   letter-spacing: 1.5px;
   color: #fefefe;
}

.tools {
   grid-area: tools;
   text-align: center;
}
.tools h1 {
   text-align: center;
   font: normal normal 500 40px/50px Poppins;
   letter-spacing: 2.5px;
   color: #fefefe;
   padding-bottom: 20px;
}
.tools h2 {
   text-align: center;
   font: normal normal normal 20px/50px Poppins;
   letter-spacing: 1.5px;
   color: #fefefe;
}

.education {
   grid-area: education;
   text-align: left;
}
.education h1 {
   padding-top: 40px;
   text-align: center;
   font: normal normal 500 40px/50px Poppins;
   letter-spacing: 2.5px;
   color: #fefefe;
   padding-bottom: 20px;
}
.education h2 {
   text-align: center;
   font: normal normal normal 20px/50px Poppins;
   letter-spacing: 1.5px;
   color: #fefefe;
}

.limitless {
   /* top: 100px; */
   padding: 10px 0;
   text-align: center;
   font-family: "Airin";
   font-size: 700px;
   letter-spacing: 1.6px;
   color: #333;
   opacity: 1;
   position: relative;
   z-index: -1;
}

/* Main styling ends */
/* Footer styling */
.footer {
   width: 100vw;
   height: 100vh;
   background-color: #222;

   /* z-index: 1; */
}
.footer .flex-container {
   margin-top: 20vh;
   width: 100%;
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer .flex-container .footer-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-top: 20px;
}
.footer .flex-container .footer-links li {
   padding: 20px 0;
   text-align: left;
   font: normal normal normal 30px Poppins;
   letter-spacing: 0.6px;
   color: #fefefe;
   opacity: 1;
}
.footer .flex-container .footer-links li a {
   text-decoration: none;
   color: #fefefe;

   transition: 0.3s ease-in-out;
}
.footer .flex-container .footer-links li a:hover {
   color: #6930c3;
   transition: 0.3s ease-in-out;
}

.footer .flex-container .footer-social {
   display: flex;
   flex-direction: row;
   padding: 50px 0;
}
.footer-social li {
   font-size: 40px;
   padding: 0 30px;
}
.footer-social li a {
   padding-bottom: 10px;
   color: #fefefe;
   text-decoration: none;

   transition: 0.3s ease-in-out;
}
.footer-social li a:hover {
   padding-bottom: 20px;
   border-bottom: 4px solid #6930c3;
   color: #8c4fee;
   transition: 0.3s ease-in-out;
}
