/*Navbar Styling*/
body {
   overflow-x: hidden;
   background-color: #121212;
}
.navbar {
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
   z-index: 2;
   position: fixed;

   /* background-color: red; */
}

.navbar .flex-container {
   width: 90%;
   height: inherit;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.navbar .flex-container .navbar-logo {
   font-family: "Airin";
   text-align: left;
   font: normal normal normal 40px/40px Airin;
   letter-spacing: 0px;
   opacity: 1;
}
.navbar .flex-container .navbar-logo a {
   text-decoration: none;

   color: #fefefe;
   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-logo a:hover {
   color: #80ffdb;
   text-shadow: 0px 0px 10px rgba(128, 255, 219, 0.5);

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li {
   text-align: right;
   padding: 5px 0;

   border-bottom: 2px solid #fefefe;
   width: 0%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li:hover {
   /* border-bottom: 2px solid #fefefe; */
   width: 100%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li a {
   text-decoration: none;
   color: #fefefe;

   text-align: right;
   font: normal normal normal 15px Poppins;
   letter-spacing: 0px;
   color: #fefefe;
   opacity: 1;
}

/* Navbar Styling ends */

/* Index banner stying starts */
.index-banner {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.index-banner .flex-container {
   width: 75vw;
   height: 90vh;
   background-color: red;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}

/* Index banner stying ends */

/* Index main styling starts */

/* Common styling */
.index-main {
   width: 100vw;
   height: 500vh;

   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;

   background-color: greenyellow;
}
.index-main .artwork {
   width: 75%;
   height: 100vw;
   background-color: red;

   padding: 40px 0;
}
/* Artwork 1 styling */
.index-main .artwork-1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.index-main .artwork-1 .image-container {
   width: 750px;
   height: 100vh;
   background: #333333 0% 0% no-repeat padding-box;
   opacity: 1;
}
/* Artwork 2 styling */
.index-main .artwork-2 {
   display: flex;
   justify-content: center;
   align-items: center;
}
.index-main .artwork-2 .image-container {
   width: 100%;
   height: 90vh;
   background: #333333 0% 0% no-repeat padding-box;
   opacity: 1;

   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.index-main .artwork-2 .image-container .title {
   color: #fefefe;
   font-size: 30px;
}

/* Artwork 3 styling */
.index-main .artwork-3 {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.index-main .artwork-3 .image-container {
   width: 600px;
   height: 100vh;
   background: #333333 0% 0% no-repeat padding-box;
   opacity: 1;
}
/* Artwork 4 styling */
.index-main .grid-container {
   width: 75%;
   height: 100vh;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 0.5fr 1.5fr 1fr;
   gap: 20px 20px;
   grid-template-areas:
      "image-container-1 image-container-1 image-container-1 image-container-1"
      "image-container-1 image-container-1 image-container-1 image-container-1"
      "image-container-2 image-container-2 title title"
      "image-container-2 image-container-2 title title";
}
.index-main .grid-container .image-container-1 {
   grid-area: image-container-1;

   background-color: #333;
}
.index-main .grid-container .image-container-2 {
   grid-area: image-container-2;

   background-color: #333;
   /* padding-top: 20px; */
}
.index-main .grid-container .title {
   grid-area: title;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 100%;
}
.index-main .grid-container .title h1 {
   text-align: right;
}

.index-main .statement {
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* Index main  styling ends*/

/* Footer styling */
.footer {
   width: 100vw;
   height: 100vh;
   background-color: #222;

   z-index: 3;
}
.footer .flex-container {
   margin-top: 20vh;
   width: 100%;
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer .flex-container .footer-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-top: 20px;
}
.footer .flex-container .footer-links li {
   padding: 20px 0;
   text-align: left;
   font: normal normal normal 30px Poppins;
   letter-spacing: 0.6px;
   color: #fefefe;
   opacity: 1;
}
.footer .flex-container .footer-links li a {
   text-decoration: none;
   color: #fefefe;

   transition: 0.3s ease-in-out;
}
.footer .flex-container .footer-links li a:hover {
   color: #6930c3;
   transition: 0.3s ease-in-out;
}

.footer .flex-container .footer-social {
   display: flex;
   flex-direction: row;
   padding: 50px 0;
}
.footer-social li {
   font-size: 40px;
   padding: 0 30px;
}
.footer-social li a {
   padding-bottom: 10px;
   color: #fefefe;
   text-decoration: none;

   transition: 0.3s ease-in-out;
}
.footer-social li a:hover {
   padding-bottom: 20px;
   border-bottom: 4px solid #6930c3;
   color: #8c4fee;
   transition: 0.3s ease-in-out;
}
