/*Navbar Styling*/
body {
   overflow-x: hidden;
   background-color: #121212;
   /* background-color: #6930c3; */
}
.navbar {
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
   z-index: 2;
   position: fixed;

   /* background-color: red; */
}

.navbar .flex-container {
   width: 90%;
   height: inherit;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

/* Decorative Styling for the navbar */

.navbar .flex-container .navbar-logo {
   font-family: "Airin";
   text-align: left;
   font: normal normal normal 40px/40px Airin;
   letter-spacing: 0px;
   opacity: 1;
}
.navbar .flex-container .navbar-logo a {
   text-decoration: none;

   color: #fefefe;
   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-logo a:hover {
   color: #80ffdb;
   text-shadow: 0px 0px 10px rgba(128, 255, 219, 0.5);

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .burger-menu {
   display: none;
}
.navbar .flex-container .navbar-links li {
   text-align: right;
   padding: 5px 0;

   border-bottom: 2px solid #fefefe;
   width: 0%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li:hover {
   /* border-bottom: 2px solid #fefefe; */
   width: 100%;

   transition: 0.3s ease-in-out;
}
.navbar .flex-container .navbar-links li a {
   text-decoration: none;
   color: #fefefe;

   text-align: right;
   font: normal normal normal 15px Poppins;
   letter-spacing: 0px;
   color: #fefefe;
   opacity: 1;
}

.navbar .flex-container .burger-menu {
   display: none;
}
.navbar .slide-out-menu {
   display: none;
}

/* Navbar Styling ends */
/* Index banner styling */
.index-banner {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.index-banner .flex-container {
   width: 75%;
   margin: 0 20px;
   height: 100vh;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}
.index-banner .flex-container .banner-statement {
   font-family: "Poppins";
   color: #fefefe;
   line-height: 50px;
}
.index-banner .flex-container .banner-statement h4 {
   font-size: 20px;
   font-weight: 300;
}
.index-banner .flex-container .banner-statement h1 {
   font-size: 50px;
   font-weight: 700;
}

.index-banner .flex-container .banner-links {
   font-size: 40px;
}
.index-banner .flex-container .banner-links li {
   margin: 40px 0;
   width: 100px;
   text-align: right;
   /* transition: 0.3s ease-in-out; */
}
.index-banner .flex-container .banner-links li a:hover {
   padding-right: 20px;
   border-right: 5px solid #6930c3;
   /* background-color: rgba(105, 48, 195, 0.5); */
   transition: 0.3s ease-in-out;
}
.index-banner .flex-container .banner-links li a {
   padding: 10px;
   text-decoration: none;
   color: #fefefe;
   text-align: right;

   border-right: 0px solid #6930c3;
   transition: 0.3s ease-in-out;
}

/* Index banner styling ends */
/* Index main styling */
.index-main {
   width: 100vw;
   height: 300vh;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
}
.index-main .part {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* Main element styling for type-1 boxes: artworks and about container*/
.index-main .type-1 .image-container {
   width: 455px;
   height: 100vh;
   background-color: #333;
   z-index: -1;
   transform: translateX(-300px);
}

.index-main .type-1 .title {
   position: absolute;
   height: fit-content;
   /* transform: translateY(50vh); */
}
.index-main .type-1 .number {
   display: none;

   position: relative;
   transform: translate(-300px, -40vh);
   left: 50px;
   /* left: 10%; */
   /* transform: translateY(); */
   top: 20px;

   text-align: center;
   font: normal normal bold 100px/80px Rajdhani;
   letter-spacing: 10px;
   color: #fefefe;
   opacity: 1;
}

/* Styling for type-2 container */

.index-main .type-2 .image-container {
   width: 455px;
   height: 100vh;
   background-color: #333;
   z-index: -1;
   transform: translateX(300px);
}

.index-main .type-2 .title {
   position: absolute;
   height: fit-content;
}
.index-main .type-2 .number {
   display: none;

   position: relative;
   transform: translate(50vw, -40vh);
   top: 20px;
   left: -50px;

   text-align: center;
   font: normal normal bold 100px/80px Rajdhani;
   letter-spacing: 10px;
   color: #fefefe;
   opacity: 1;
}
.title a {
   text-decoration: none;
   text-align: left;
   font-family: "Poppins";
   font-weight: 500;
   font-size: 70px;
   line-height: 65px;
   letter-spacing: 5px;
   color: #fefefe;
   opacity: 1;
}
@media screen and (min-width: 500px) {
   .title:hover ~ .image-container {
      width: 500px;
      filter: grayscale(0);

      transition: 0.3s ease-in-out;
   }
}

.image-container {
   background-size: 80%;
   background-repeat: no-repeat;
   filter: grayscale(100%);
   background-position: center;
   background-attachment: fixed;

   transition: 0.3s ease-in-out;
}

/* Adding images to the image-containers */
.artworks .image-container {
   background-image: url("../images/its-cold.png");
}
.designs .image-container {
   background-image: url("../images/GFG-KIIT-website-poster-dark-color.png");
   /* background-position: -400px; */
}
.about .image-container {
   background-image: url("../images/glitched-skull.jpg");
   background-blend-mode: lighten;
   opacity: 0.6;
}

/* Footer styling */
.footer {
   width: 100vw;
   height: 100vh;
   background-color: #222;

   z-index: 3;
}
.footer .flex-container {
   margin-top: 20vh;
   width: 100%;
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer .flex-container .footer-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-top: 20px;
}
.footer .flex-container .footer-links li {
   padding: 20px 0;
   text-align: left;
   font: normal normal normal 30px Poppins;
   letter-spacing: 0.6px;
   color: #fefefe;
   opacity: 1;
}
.footer .flex-container .footer-links li a {
   text-decoration: none;
   color: #fefefe;

   transition: 0.3s ease-in-out;
}
.footer .flex-container .footer-links li a:hover {
   color: #6930c3;
   transition: 0.3s ease-in-out;
}

.footer .flex-container .footer-social {
   display: flex;
   flex-direction: row;
   padding: 50px 0;
}
.footer-social li {
   font-size: 40px;
   padding: 0 30px;
}
.footer-social li a {
   padding-bottom: 10px;
   color: #fefefe;
   text-decoration: none;

   transition: 0.3s ease-in-out;
}
.footer-social li a:hover {
   padding-bottom: 20px;
   border-bottom: 4px solid #6930c3;
   color: #8c4fee;
   transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 500px) {
   .navbar {
      position: fixed;
      /* overflow: hidden; */
   }
   .navbar .flex-container .navbar-logo a {
      font: normal normal normal 32px/41px Airin;
   }
   .navbar .flex-container .navbar-links {
      display: none;
   }
   .navbar .flex-container .burger-menu {
      width: 50px;
      height: 50px;
      opacity: 1;

      display: flex;
      justify-content: center;
      place-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      padding: 5px;
      transition: 0.3s ease-in-out;

      background-color: none;
   }

   .navbar .flex-container .burger-menu .line-1 {
      width: 24px;
      height: 2px;

      background-color: #fefefe;
      margin: 3px 0;

      /* transform: rotate(-45deg); */

      transition: 0.3s ease-in-out;
   }
   .navbar .flex-container .burger-menu .line-2-container {
      width: 24px;
      height: 2px;

      margin: 3px 0;
   }
   .navbar .flex-container .burger-menu .line-2 {
      width: 11px;
      height: 2px;
      /* display: none; */
      background-color: #fefefe;

      position: relative;
      left: 0;
      transition: 0.3s ease-in-out;

      transition: 0.3s ease-in-out;
   }
   .navbar .flex-container .burger-menu .line-3 {
      width: 24px;
      height: 2px;

      background-color: #fefefe;
      margin: 3px 0;

      transition: 0.3s ease-in-out;
   }

   .navbar .flex-container .burger-menu:hover > .line-2-container .line-2 {
      width: 24px;
      transition: 0.3s ease-in-out;
   }
   .navbar .flex-container .burger-menu:hover {
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.1);

      transition: 0.3s ease-in-out;
   }

   .navbar .slide-out-menu {
      z-index: -1;
      position: absolute;
      top: -50px;
      left: calc(-100% - 70px);

      width: calc(100vw + 50px);
      height: calc(100vh + 50px);

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      transition: 0.3s ease-in-out;
   }
   .navbar .slide-out-menu .background-static {
      z-index: 0;
      position: absolute;
      left: 0;
      display: block;

      width: calc(100vw + 50px);
      height: calc(100vh + 50px);

      transition: 0.3s ease-in-out;
      background: repeating-linear-gradient(#6930c3, #111 50%, #333 50%, #333);
      background-size: 5px 5px;
      filter: url(#noise);
   }

   .navbar .slide-out-menu .mobile-navbar-links {
      margin: 0 0 3rem 5rem;
      position: relative;
      top: 0;
   }
   .navbar .slide-out-menu .mobile-navbar-links li {
      padding: 2rem 0;
   }
   .navbar .slide-out-menu .mobile-navbar-links li a {
      color: #fefefe;
      text-decoration: none;
      font-size: 3rem;
      font-family: "Poppins";
   }

   .cross-state-1 {
      margin: 0 !important;
      position: relative;
      top: 2px;
      transform: rotate(45deg);

      transition: 0.3s ease-in-out;
   }
   .cross-state-2 {
      margin: 0 !important;
      /* display: none; */
      width: 0px !important;

      transition: 0.3s ease-in-out;
   }
   .cross-state-3 {
      margin: 0 !important;
      position: relative;
      top: -2px;
      transform: rotate(-45deg);

      transition: 0.3s ease-in-out;
   }

   /* Navbar styling ends */

   /* Index main Styling begins */
   .index-banner .flex-container {
      flex-direction: column;
      width: 80vw;
      height: 80vh;
   }
   .index-banner .flex-container .banner-statement {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
   }
   .banner-statement > * {
      width: 100%;
      text-align: center;
   }
   .index-banner .flex-container .banner-statement h4 {
      font-size: 18px;
      line-height: 20px;
      padding: 10px 0;
   }
   .index-banner .flex-container .banner-statement h1 {
      font-size: 40px;
   }
   .index-banner .flex-container .banner-links {
      flex-direction: row;
      width: 80vw;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }
   .index-banner .flex-container .banner-links li {
      text-align: center;
      margin: 40px 0;
   }
   .index-banner .flex-container .banner-links li a {
      position: relative;
      top: 0;
      padding: 10px;
      text-decoration: none;
      color: #fefefe;
      text-align: center;

      border-bottom: 0px solid #6930c3;
      transition: 0.3s ease-in-out;
   }
   .index-banner .flex-container .banner-links li a:hover {
      position: relative;
      top: -20px;
      padding: 10px;
      border: none;
      padding-bottom: 20px;
      border-bottom: 5px solid #6930c3;
      /* background-color: rgba(105, 48, 195, 0.5); */
      transition: 0.3s ease-in-out;
   }

   .index-main {
      width: 100vw;
      overflow-x: hidden;
   }

   .index-main .part {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      overflow-x: hidden !important;
   }
   .index-main .part .image-container {
      width: 100px;
      height: 100vh;
      background-color: #333;
      z-index: -1;
      transform: translate(0, 0);
      margin: 0;
      padding: 0;
   }
   .index-main .part .title a {
      font-size: 50px;
   }
   .index-main .type-1 .image-container {
      transform: translate(-50vw, 0);
      overflow-x: hidden;
   }
   .index-main .type-2 .image-container {
      transform: translate(50vw, 0);
      overflow-x: hidden;
   }

   .index-main .part .image-container {
      left: 0;
      top: 0;
   }

   .image-container {
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      background-position: center;
      background-attachment: fixed;

      /* transition: 0.3s ease-in-out; */
   }
}
